.curso {
    padding: 10rem 0;
    margin-top: 10rem;
    background-size: cover;
    background-position: center center;
}

@media (min-width: 768px) {
    .curso-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .curso .contenido {
        grid-column: 2 / 3;
    }
}

.curso .contenido {
    color: #f0f0f0; /* Color de texto general */
    padding: 2rem;
}

.curso .contenido h2 {
    color: #ffcc00; /* Color para el título */
    font-size: 3rem;
    margin-bottom: 1rem;
}

.curso .contenido p {
    color: #e0e0e0; /* Color para el párrafo */
    font-size: 1.8rem;
    line-height: 1.6;
}
